{% extends "base.html"%}
{% block title%}About us{% endblock %}
{% block content%}
<body bgcolor="lightblue">
    <center><h2><br>App Features:</h2>
    Highlight the key features and functionalities of your app. Use bullet points or short descriptions to make it easy for users to understand what your app offers
    <br>

    <h2>Meet the Team:</h2>

    Behind Your Website/Business Name is a team of dedicated individuals who are passionate about what drives your team. Each member brings unique expertise in mention relevant skills or areas of specialization.
    <br>

    <h2>Why Choose Us:</h2>
    <br><b>Expertise:</b> With years of experience in mention relevant field, we bring unparalleled expertise to services/products/content.
    <br><b>Personalized Approach: </b>We believe in describe how you tailor your offerings to meet individual needs.
    <br><b>Commitment to Excellence:</b> Our commitment to excellence means mention how you maintain high quality in your work.
    <br><b>Customer Satisfaction:</b> Our priority is explain how you prioritize customer satisfaction and feedback.
</center>
</body>



{% endblock %}
